body {
  //max-width: 800px;
  margin: auto;
  padding: 1em;
  line-height: 1.5em;
}

/* header and footer areas */
.menu {
    background-color: darkgrey;
    padding: 0;
    text-align: right;
    margin: 0;
}
.menu li { display: inline-block; }
.article-meta,.menu a {
  color: black;
  text-decoration: none;
  background: #eee;
  padding: 2px;
  margin-right: 2px;
  border-radius: 2px;
  font-weight: bold;
}
.terms { font-size: .9em; }
.article-meta, footer { text-align: center; }
.title { font-size: 1.1em; }
footer a { text-decoration: none; }
hr {
  border-style: dashed;
  color: #ddd;
}

/* code */
pre {
  border: 1px solid #ddd;
  box-shadow: 5px 5px 5px #eee;
  padding: 1em;
  overflow-x: auto;
}
code { background: #f9f9f9; }
pre code { background: none; }

/* misc elements */
img, iframe, video { max-width: 100%; }
main { hyphens: auto; }
blockquote {
  background: #f9f9f9;
  border-left: 5px solid #ccc;
  padding: 3px 1em 3px;
}

table {
  margin: auto;
  border-top: 1px solid #666;
  border-bottom: 1px solid #666;
}
table thead th { border-bottom: 1px solid #ddd; }
th, td { padding: 5px; }
thead, tfoot, tr:nth-child(even) { background: #eee }

.pagetitle {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
.disqus {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.pagination {
    text-align: center;
}
.pagination li {
    display: inline-block;
    border: 1px solid black;
    border-radius: 2px;
    padding: 0 .4em 0 .4em;
    background-color: lightgrey;
    font-weight: bold;
}
.pagination > li > a {
    color: black;
    text-decoration: none;
}
ul.article-list {
    padding: 0 2em 0 2em;
}
.article-list li {
    list-style-type: none;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}
.article-meta a {
    color: black;
    text-decoration: none;
    font-size: 110%;
}
.article-meta .date {
    font-size: 60%;
}
